/*Default Styling from Home Page*/
@import "main.css";
	
/*Coming Soon*/
.comingSoon{
	clear:both;
	background-color: white;
	border-radius: 4px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	color: black;
	margin: 2% auto;
	width: 60%;
}

.comingSoon h1{
	text-align: center;
	font-family: "Lato", serif;
	font-size: 48px;
	font-weight: bold;
	padding-top: 20%;
}

.comingSoon p{
	text-align: center;
	font-family: "Open Sans", serif;
	font-size: 24px;
	padding: 10%;
}